body {
    background: url(images.jpg) no-repeat fixed;
    background-size: cover;
    }
  .container {
    margin: auto;
    margin-top: 4rem;
    width: 85%;
    background-color: rgb(13, 118, 166);
    filter: opacity(90%) ;
    border: 2px dashed rgb(16, 15, 15);
    border-radius: 20px;
  }

  .container h2 {
    text-align: center;
    color: rgb(18, 16, 16);
  }

  table {
    margin: auto;
    overflow-x: auto;
    margin-bottom: 30px;
    height: 75vh;
    width: 95%;
    border-collapse: collapse;
  }

  th {
    color: rgb(11, 10, 10);
  }

  th:hover {
    background-color: rgb(94, 102, 133);
    transition: 0.5s;
  }

  @media (max-width: 500px) {
    .container {
      width: 64vh;
    }

    table {
      width: 60vh;
    }
}